{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<h1>Visiteur {{ ticket }} / {{ numberOfTickets }}</h1>

<hr class="my-4">

<div class="container mt-3">

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {# <button type="submit" class="btn btn-info my-3" name="ticket" value="1">Visiteur suivant</button>

    <button type="submit" class="btn btn-warning my-3" name="return" value="return">Retour à la commande</button> #}

    {# <button type="submit" class="btn btn-info my-3">Visiteur suivant</button> #}

    {% if ticket < numberOfTickets %}
        <button type="submit" class="btn btn-info my-3">Visiteur suivant</button>
    {% endif %}

    {% if ticket == numberOfTickets %}
        <button type="#" class="btn btn-success my-3">Terminer la commande</button>
    {% endif %}

    {{ form_end(form) }}

    <div class='response my-3 text-warning' style='display: none'>
        <p><em>Il sera nécessaire de présenter votre carte étudiant, militaire ou équivalent lors de votre entrée au musée !</em></p>
    </div>

</div>

{% endblock %}

{% block javascripts %}

<script>
    $('#customer_dateOfBirthday').datepicker({
        format: 'dd/mm/yyyy',
        endDate: new Date(),
        language: 'fr',
        autoclose: true,
        todayHighlight: true
    })
</script>

<script>
    
    
    //$(function(){
        //$(":checkbox").on('click', function(){
            //$('.form-check').after(response)
        //}); 
    //});
    
    //$(":checkbox").click(function(){
        //$('.form-check').after(response)
    //});

</script>

{% endblock %}
