{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}
<div class="jumbotron">
    <h1 class="display-4">Réservez votre billet en ligne !</h1>
    <p class="lead">Cela vous permettra d'éviter les longues files d'attente...</p>
</div>
{% endblock %}

{% block body %}

{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="container my-3">
            {{ form_start(form) }}
                <hr>
                    <h1>Commande</h1>
                <hr class="my-4">
                <br />
                {{ form_errors(form) }}
                {{ form_label(form.dateOfVisit) }}
                {{ form_widget(form.dateOfVisit) }}
                <br />
                {{ form_label(form.numberOfTickets) }}
                {{ form_widget(form.numberOfTickets) }}
                <br />
                {{ form_label(form.halfDay) }}
                {{ form_widget(form.halfDay) }}
                <br />
                <hr class="my-4">
                    <h1>Visiteur</h1>
                <hr class="my-4">
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
                <br />
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}
                <br />
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                <br />
                <button type="submit" class="btn btn-info my-5">Continuer votre commande</button>
            {{ form_end(form) }}
            <br />
        </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var dateOne                 = new Date('05-01-2019');
    var yearOfReferenceOne      = dateOne.getFullYear();
    var CurrentDateOne          = '01/05/' + yearOfReferenceOne;
    var yearOne                 = '01/05/' + (yearOfReferenceOne + 1);

    var dateTwo                 = new Date('11-01-2019');
    var yearOfReferenceTwo      = dateTwo.getFullYear();
    var CurrentDateTwo          = '01/11/' + yearOfReferenceTwo;
    var yearTwo                 = '01/11/' + (yearOfReferenceTwo + 1);

    var dateThree               = new Date('12-25-2019')
    var yearOfReferenceThree    = dateThree.getFullYear();
    var CurrentDateThree        = '25/12/' + yearOfReferenceThree;
    var yearThree               = '25/12/' + (yearOfReferenceThree + 1);

    var datesDisabled = [
        CurrentDateOne, yearOne, CurrentDateTwo, yearTwo, CurrentDateThree, yearThree
    ];
            
    $('#order_customer_dateOfVisit').datepicker({
        format: 'dd/mm/yyyy',
        daysOfWeekDisabled: [2, 0],
        datesDisabled: datesDisabled,
        startDate: new Date(),
        language: 'fr',
        autoclose: true,
        todayHighlight: true,
        useLocalTimeZone: true,
    });

    $('#user_customer_dateOfBirthday').datepicker({
        format: 'dd/mm/yyyy',
        endDate: new Date(),
        language: 'fr',
        autoclose: true,
        todayHighlight: true
    });
</script>
{% endblock %}