{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="container my-3">

    {{ form_start(form) }}

    <hr class="my-4">
        <h1>Commande</h1>
    <hr class="my-4">

    {{ form_errors(form) }}
    
    {{ form_label(form.dateOfVisit) }}
    {{ form_widget(form.dateOfVisit) }}
    <br />
    {{ form_label(form.numberOfTickets) }}
    {{ form_widget(form.numberOfTickets) }}
    <br />
    {{ form_label(form.halfDay) }}
    {{ form_widget(form.halfDay) }}
    <br />
    <hr class="my-4">
        <h1>Visiteur</h1>
    <hr class="my-4">
    {{ form_label(form.firstname) }}
    {{ form_widget(form.firstname) }}
    <br />
    {{ form_label(form.lastname) }}
    {{ form_widget(form.lastname) }}
    <br />
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    <br />

    <button type="submit" class="btn btn-info my-3">Continuer la commande</button>
        
    {{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}

<script>
    
    //$('span.alert.alert-danger.d-block').detach();
    $('span.form-error-icon.badge.badge-danger.text-uppercase').text('Erreur');

    {# var dates = ['01/05/yyyy', '01/11/yyyy', '25/12/yyyy'];
    var year = [2019, 2020];

    var data= year[1].toString();
    var result = [data];

    var date1 = dates[0].replace('yyyy', result[0]);
    var date2 = dates[1].replace('yyyy', result[0]);
    var date3 = dates[2].replace('yyyy', result[0]);
    var allDates = [date1, date2, date3];
    console.log(allDates);

    var datesDisabled = allDates; #}
    //console.log(datesDisabled);

    var datesDisabled = ['01/05/2019', '01/11/2019', '25/12/2019'];
    
    $('#order_customer_dateOfVisit').datepicker({
        format: 'dd/mm/yyyy',
        daysOfWeekDisabled: [2, 0],
        datesDisabled: datesDisabled,
        startDate: new Date(),
        language: 'fr',
        autoclose: true,
        todayHighlight: true,
        useLocalTimeZone: true,
    });

    $('#user_customer_dateOfBirthday').datepicker({
        format: 'dd/mm/yyyy',
        endDate: new Date(),
        language: 'fr',
        autoclose: true,
        todayHighlight: true
    })
</script>
        
{% endblock %}