<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        p{
            font-family: helvetica;
        }
    </style>
</head>

<body>
    <img src="{{ img }}" width="100" height="80" alt="logo_du_louvre">
    <p>Cher visiteur, chère visiteuse,</p>
    <p><u>Veuillez trouver ci-joint :</u></p>
    <p>Votre code de réservation : {{ codeFinal }}</p>
    <p>Votre date de réservation : {{ dateOfOrder | date('d-m-Y') }}</p>
    <p>Le montant total de votre commande : {{ totalPrices }} euros TTC</p>
    <p><u>Les visiteurs attendus :</u></p>

    {% for order in allOrders %}

    <p> - {{ order.firstname }} {{ order.lastname }}</p>
                    
    {% endfor %}
    <br />
    <p><em>--> Pensez à vous munir de cet email/billet lors de votre venue ! </em></p>
    <br />
    <p><b>Le Musée du Louvre vous remercie pour votre commande et vous souhaite une agréable visite ! </b></p>
</body>



